body{
    background: linear-gradient(to left, rgb(67, 112, 63) 65%, rgb(153, 185, 153)100%);
    font-family: 'Montserrat', sans-serif;
}
header{
  background: rgba(255, 255, 255, 0.274);
  padding: 25px;
	width: 100%;
}
.imagem-header{
  position: relative;
  padding: 5px;
  width: 150px;
  height: 5%;
}
nav{
  position: absolute;
  right: 33%;
  top: 170px; 

}
nav li{
    display: inline;
    margin: 15px 0 0 150px;
}
nav a{
  text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
}
nav a:hover {

	text-decoration: underline;
}
  
.swiper {
  height: 500px;
  width: 950px; 
  position: absolute;
  margin: 15px;
}
  
.swiper-slide {
  display: flex !important;
  text-align: center;
  background-size: contain;
  font-size: 180px;
  color: white;
  align-items: center;
  justify-content: center;
}
footer {
  position: absolute;
  text-align: center;
  padding: 5px 0;
  width: 100%;
  bottom: 0px;
 
}
.Copyright {
  color: var(--cor-primaria);
  background-color: var(--cor-terciaria);
  padding: 12px;
  text-align: center;
  font-size: 12px;
  color: white;
  margin: 20px 0 0;

} 


