body{
    height: 100vh;
    background: linear-gradient(to left, rgb(56, 56, 56) 65%, rgb(27, 27, 27)100%);
    font-family: 'Montserrat', sans-serif;
}
header{
	background: #FFFFFF;
  margin: 2px;
  box-shadow: 10px 10px 15px 20px #000000, -10px -10px #000000, -20px 20px rgba(43, 41, 41, 0.55);
}
.imagem-header{
  position: relative;
  width: 100%;
  max-height: 50%;
  box-shadow: 10px 10px 15px 20px #000000, -10px -10px #000000, -20px 20px rgba(54, 52, 52, 0.55)
}
nav{
  position: absolute;
  right: 20%;
  top: 350px; 

}
nav li{
    display: inline;
    margin: 0 50px;

}
nav a{
  text-transform: uppercase;
	color: #6b0303;
	font-weight: bold;
	font-size: 14px;
  justify-content: space-between;
	text-decoration: none;
}
nav a:hover {

	text-decoration: underline;
}
  
.swiper {
  height: 500px;
  width: 950px; 
  position: relative;
  margin: 45px 25px ;
  top: 100px;
}
  
.swiper-slide {
  display: flex !important;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 40px;
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.conteudo h3{
  position: relative;
  margin-top: 250px;

}
footer, .imagem-rodape {
  background-image: url(./images/bg.jpg);
	padding: 40px 0;
	width: 100%;
  margin-top: 600px;
 text-align: center;

}
.Copyright {
  color: var(--cor-primaria);
  background-color: var(--cor-terciaria);
  text-align: center;
  font-size: 12px;
  color: white;
} 


